<div class="row">
  <div class="col-sm-5 col-lg-5 col-lg-offset-2">
    <%= form_tag "#" , :method => :get, :class => "works-search-form" do %>
      <div class="input-group">
        <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="搜索作品关键字...">

        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-3 col-lg-2">
    <%= link_to '我要找一个达人' , "#" , :remote => true, :class => "btn btn-primary btn-block" %>
  </div>
</div>
