<%= render :partial => "works/search_bar" %>

<br>
<div class="search-result">

  <table class="table table-borderd">
    <% @works.each do |work| %>
      <%= link_to(render_highlight_content(work, @query_string), work_path(work)) %>

      <hr>
    <% end %>
 </table>

</div>
