<div class="col-md-12">

  <h2 class="text-center"> 已抢单达人 </h2>
<br>
<br>
订单编号：<%= @request.token %>
<br>
订单详情放这里
<br>
<br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th> 达人昵称 </th>
        <th> 作品名称 </ th>
        <th> 作品图片 </th>
        <th> 参考价格 </th>
        <th> 请选择一名合作达人 </th>
      </tr>
    </thead>

    <tbody>
      <%# @requests.applicants.each do |user| %>
      <% @applicants.each do |user| %>
        <tr>
          <td> <%= link_to(user.id, user_path(user)) %> </td>
          <td> # </td>
          <td> # </td>
          <td> <% @request.aasm_state %> </td>
          <td>
            <% if @request.selected? %>
              已经选好合作达人喽~
            <% else %>
              <%= link_to("选我选我选我！", choose_account_request_path(@request.token),:method => :post, :class => "btn btn-xs btn-danger") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
