<h1> Hello World! </h1>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1 class="text-center">
				包整 线上使用平台
			</h1>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1 class="text-center">
				h1. 包整 线上使用平台.
			</h1>
			<p>
				 <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写， <small>Ruby</small> 社区中。
			</p> <button type="button" class="btn btn-lg btn-primary">按钮</button>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1>
				h1. 包整 线上使用平台.
			</h1>
			<p>
				 <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写， <small>Ruby</small> 社区中。
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1>
				h1. 包整 线上使用平台.
			</h1>
			<p>
				 <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写，<small>Ruby</small> 社区中。
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<img alt="140x140" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/140/140/default.jpg" />
			<p>
				 <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写，<small>Ruby</small> 社区中。
			</p>
		</div>
		<div class="col-md-4 column">
			<img alt="140x140" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/140/140/default.jpg" />
			<p>
				 <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写， <small>Ruby</small> 社区中。
			</p>
		</div>
		<div class="col-md-4 column">
			<img alt="140x140" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/140/140/default.jpg" />
			<p>
				 <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写，<small>Ruby</small> 社区中。
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1>
				h1. 包整 线上使用平台.
			</h1><img alt="140x140" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/140/140/default.jpg" class="img-thumbnail" />
			<p>
				 <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写，<small>Ruby</small> 社区中。
			</p><img alt="140x140" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/140/140/default.jpg" />
			<p>
				 <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写，<small>Ruby</small> 社区中。
			</p><img alt="140x140" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/140/140/default.jpg" />
			<p>
				 <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写，<small>Ruby</small> 社区中。
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1>
				h1. 包整 线上使用平台.
			</h1>
			<p>
				 <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写， <small>Ruby</small> 社区中。
			</p><img alt="140x140" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/140/140/default.jpg" />
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1>
				h1. 包整 线上使用平台.
			</h1>
			<p>
				 <em>Git</em> 是一个分布式的版本控制系统，最初由 <strong>Linus Torvalds</strong> 编写，<small>Ruby</small> 社区中。
			</p> <button type="button" class="btn btn-lg btn-primary">按钮</button>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1 class="text-center">
				h1. 包整 线上使用平台.
			</h1>
		</div>
	</div>
</div>
