<!DOCTYPE html>

<html>
    <body>
        <div class="bz-part-1">
          <div class="bz-part-1-bg" id="bz-part-1-bg-id"></div>
            <div class="container-fluid">
              <!-- <div class="bz-part-1-bg-gray" id="bz-part-1-bg-gray-id"></div> -->

                <div class="row">
                    <div class="title-text">
                        <div class="col-md-12 headfontsize">
                            <h1 class="bz-part-1-text-1">
                                房间赏心悦目，空间感大一倍
                            </h1>
                            <br><br>
                            <p>订制个性化收纳方案<br>
                            <br>听达人分享整理技巧<br>
                            <br>房间干净，心情清爽<br>
                            <br>下次搬家，说走就走</p>
                            <div class='btn-bz-user-sign-up'>
                              <%= link_to("立即注册，赠送达人整理手册", new_user_registration_path, class:"btn btn-danger btn-lg") %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- body第1部分 结束-->

        <!-- body第2部分 开始-->

        <div class="bz-part-2">
            <div class="container-fluid">
                <div class="bz-part-2-block-1">
                    <div class="bz-part-2-block-1-text">
                        <h1 class="bz-part-2-block-1-text-h1">线上解决方案</h1>
                        <p>达人手把手指导，让整理房间如有神助</p>
                    </div>
                    <div class="bz-part-2-row">
                      <center>
                        <div class="bz-part-2-step-1 col-md-4">
                            <div class="bz-part-2-step-1-pic" >
                              <img src="http://ww3.sinaimg.cn/large/65e4f1e6jw1f9tx2nkwycj20hs08cgmb.jpg" style="width:100%">
                            </div>
                                <div class="bz-part-2-step-1-text">
                                    <a href="#">
                                    <h3>发出需求</h3>
                                    </a>
                                  <p>发起定制，与达人确定需求。</p>
                                </div>
                        </div>

                        <div class="bz-part-2-step-2 col-md-4">
                            <div class="bz-part-2-step-2-pic">
                              <img src="http://ww3.sinaimg.cn/large/65e4f1e6jw1f9tx2nijm7j20hs08caam.jpg" style="width:100%">
                            </div>
                                <div class="bz-part-2-step-2-text">
                                    <a href="#">
                                    <h3>达人接单</h3>
                                    </a>
                                  <p>达人给出解决方案，用户购置物品，<br>达人指导整理。</p>
                                </div>
                        </div>

                        <div class="bz-part-2-step-3 col-md-4">
                            <div class="bz-part-2-step-3-pic">
                              <img src="http://ww4.sinaimg.cn/large/65e4f1e6jw1f9tx2ngeycj20hs08cmy4.jpg" style="width:100%">
                            </div>
                                <div class="bz-part-2-step-3-text">
                                    <a href="#">
                                    <h3>焕然一新</h3>
                                    </a>
                                  <p>房间焕然一新，分享至朋友圈。</p>
                                </div>
                        </div>
                            <br>
                            <br>
                            <br>
                          </center>
                        </div>
                    </div>
                </div>
                <!-- body第2部分第2分支 直接发起任务，暂时不做-->
                <!-- <div class="bz-part-2-block-2">
                </div>  -->
        </div>
        <!-- body第2部分 结束-->

        <!-- body第3部分 开始-->


        <div class="bz-part-3">
            <div class="container">

                <div class="bz-part-3-1">
                    <div class="bz-part-3-block-1-text">
                        <h1 class="bz-part-3-block-1-text-h1">达人优选作品</h1>
                        <p>以下，是让你跪下的作品</p>
                    </div>
                    <div class="row">
                        <div class="bz-part-3-1">
                            <a href="#">
                                <img src="http://ww1.sinaimg.cn/large/65e4f1e6jw1f9txiract9j20l406c0tk.jpg" style="width:100%" class="img-thumbnail"></a>
                            <br><br>
                            <div class="quan-1">
                                <div class="bz-part-3-1-1 col-md-3">
                                    <a href="#">
                                        <img src="http://ww2.sinaimg.cn/large/65e4f1e6jw1f9txt0oy2aj205k05kt8n.jpg" style="width:100px" class="img-circle"></a>
                                </div>
                                <div class="bz-part-3-1-2 col-md-3">
                                    <h3>我叫达人林丹丹</h3>
                                </div>
                                <div class="bz-part-3-1-3 col-md-3">
                                    <h3>波西米亚火辣风</h3>
                                </div>
                                <div class="bz-part-3-1-4 col-md-3">
                                    <p>简介：在浓郁当中，带有一点热情，热情当中，带有一点火辣，总体偏向波西米亚，令你化繁为简，从此你家的林丹，天天回家</p>
                                <br></div>
                            </div>
                        </div>

                        <div class="bz-part-3-2">
                            <a href="#">
                                <img src="http://ww3.sinaimg.cn/large/65e4f1e6jw1f9txir9ia8j20l4062jsn.jpg" style="width:100%" class="img-thumbnail"></a>
                            <br><br>

                            <div class="quan-2">
                                <div class="bz-part-3-2-1 col-md-3">
                                    <a href="#">
                                        <img src="http://ww4.sinaimg.cn/large/65e4f1e6jw1f9txt0mpcaj205k05k74j.jpg" style="width:100px" class="img-circle"></a>
                                </div>
                                <div class="bz-part-3-2-2 col-md-3">
                                    <h3>我叫达人王毛毛</h3>
                                </div>
                                <div class="bz-part-3-2-3 col-md-3">
                                    <h3>快速远离纠结风</h3>
                                </div>
                                <div class="bz-part-3-2-4 col-md-3">
                                    <p>简介：从此你再也不需要纠结，每天都出处于丢丢丢的狂暴状态，你在眼中没有一物需要保留，丢丢丢，令你一秒做出爽快决定</p>
                                  <br></div>
                            </div>
                        </div>
                        <div class="bz-part-3-3">
                            <a href="#">
                                <img src="http://ww3.sinaimg.cn/large/65e4f1e6jw1f9txir5lt2j20l40623zn.jpg" style="width:100%" class="img-thumbnail"></a>
                        <br><br>

                            <div class="quan-3">
                                <div class="bz-part-3-3-1 col-md-3">
                                    <a href="#">
                                        <img src="http://ww2.sinaimg.cn/large/65e4f1e6jw1f9txt0hdcpj205k05kq2x.jpg" style="width:100px" class="img-circle"></a>
                                </div>
                                <div class="bz-part-3-3-2 col-md-3">
                                    <h3>我叫达人钱多多</h3>
                                </div>
                                <div class="bz-part-3-3-3 col-md-3">
                                    <h3>帝王简约奢华风</h3>
                                </div>

                                <div class="bz-part-3-3-4 col-md-3">
                                    <p>简介：你首先必须一定，在北京二环内先买套房，然后舒展你的手脚，抖擞你的精神，稍微象征性的整理一下，令你立马节省100万的空间</p>
                                  <br></div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>

        </div>
        <!-- body第3部分 结束-->

        <!-- body第4部分 开始-->

        <div class="bz-part-4">
            <div class="container">
                <div class="bz-part-4-block-1">
                    <div class="bz-part-4-block-1-text">
                        <h1 class="bz-part-4-block-1-text-h1">合作伙伴</h1>
                        <p>各大家居品牌，密切交流合作</p>  <br>
                    </div>
                    <div class="row">
                        <div class="bz-part-4 col-md-3">
                            <a href="#">
                                <img src="http://ww2.sinaimg.cn/large/65e4f1e6jw1f9ty9i9bn3j20go09tmxn.jpg" style="width:200px" ></a>

                            </div>

                            <div class="bz-part-4 col-md-3">
                                <a href="#">
                                    <img src="http://ww2.sinaimg.cn/large/65e4f1e6jw1f9u2k9h07xj207h04ywf3.jpg" style="width:200px"></a>

                                </div>

                                <div class="bz-part-4 col-md-3">
                                    <a href="#">
                                        <img src="http://ww4.sinaimg.cn/large/65e4f1e6jw1f9ty9i453vg20f108lq3d.gif" style="width:250px"></a>

                                    </div>
                                    <div class="bz-part-4 col-md-3">
                                        <a href="#">
                                            <img src="http://ww3.sinaimg.cn/large/65e4f1e6jw1f9u58kbfy5j20f404c3yw.jpg" style="width:300px"></a>

                                        </div>
                                    </div>
                                </div>

                                <!-- body第4部分 结束-->

                                <!-- body第5部分 开始-->
                                <br><br><br>
                                <div class="bz-part-5">
                                    <div class="container-fluid">

                                        <div class="bz-part-5-text" >
                                          <h1 class="bz-part-5-text-h1">轻松一整，焕然一新
                                          </h1>
                                          <p>现在注册，立即增送达人方案</p>
                                          <br>
                                        </div>
                                           <span>
                                            <a class="btn btn-danger btn-lg" href="#">立即注册使用</a>
                                          </span>
                                            <br>
                                            <br>
                                            <br>
                                            <br>

                                    </div>
                                </div>
                            </body>
                            <!-- body第5部分 结束-->

                            <!-- foot部分 开始 -->
                            <!-- <footer id="bz-footer-content" class="site-footer col-md-12 col-md-offset-0">
        <div class="container-fluid">
            <div class="def-footer">
                <div class="help-link">
                    <ul class="list-inline">
                        <li>
                            <a href="/about_us">关于我们</a>
                        </li>
                        <li>
                            <a href="/contact_us">联系信息</a>
                        </li>
                        <li>
                            <a href="http://qq.com/" target="_blank">特别推荐</a>
                        </li>

                    </ul>
                </div>
                <div class="copyright-info">
                    <span>©2016 包整平台, Inc. All Rights Reserved</span>
                </div>
                <div class="bz-logo">
                    <a href="#">
                        <img src="http://ww2.sinaimg.cn/large/65e4f1e6jw1f9tpq71wkwj208o089jrq.jpg" style="width: 70px" "height: 70px">
                    </a>
                </div>
            </div>
        </div>
    </footer> -->
                            <!-- foot部分 结束 -->

                        </html>
