<!-- <h1> Hello World! </h1>

<%= link_to("全网订单", requests_path, class: "btn btn-lg btn-primary pull-left") %>

<%= link_to("发起订单", new_request_path, class: "btn btn-lg btn-primary pull-right") %> -->

<!DOCTYPE html>

<html>

    <!-- head部分 开始 -->
    <!-- <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="container-fluid">

            <div class="bz-logo">
                <a href="#">
                    <img src="http://ww2.sinaimg.cn/large/65e4f1e6jw1f9tpq71wkwj208o089jrq.jpg" style="width: 70px" "height: 70px">
                </a>
            </div>
            <title>包整</title>

            <div class="collapse navbar-collapse navbar-ex1-collapse" id="bs-example-navbar-collapse-1">

                <div class="bz-button-head">
                    <button type="button" class="btn btn-primary">发要求</button>
                </div>
                <div class="bz-button-head">
                    <button type="button" class="btn btn-primary">看达人</button>
                </div>
                <div class="bz-button-head">
                    <button type="button" class="btn btn-primary">接任务</button>
                </div>
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="/users/sign_up">注册会员</a>
                    </li>
                    <li>
                        <a href="/users/sign_in">会员登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </head> -->
    <!-- head部分 结束 -->

    <!-- body第1部分 开始-->
    <body>
        <div class="bz-part-1">
            <br>
            <br>
            <div class="bz-part-1-bg" id="bz-part-1-bg-id"></div>
            <div class="container">
                <div class="bz-part-1-bg-gray" id="bz-part-1-bg-gray-id"></div>
                <div class="row">
                    <div class="title-text">
                        <div class="col-md-12 headfontsize">
                            <h1 class="head1content">
                                学习5分钟，狂赚50万
                            </h1>
                            <p>北京二环房价10万/每平方<br>
                                5分钟学会整理，多出5平方空间，瞬间节省50万</p>
                            <br>
                            <br>
                            <p>订制个性化收纳方案</p>
                            <p>听达人分享整理技巧</p>
                            <p>房间干净，心情清爽</p>
                            <p>下次搬家，说走就走</p><br>
                            <p class='btn-bz-user-sign-up'>
                                <a class="btn btn-success btn-lg" href="#">立即注册，赠送达人整理手册</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- body第1部分 结束-->

        <!-- body第2部分 开始-->

        <div class="bz-part-2">
            <div class="container">
                <div class="bz-part-2-block-1">
                    <div class="bz-part-2-block-1-text">
                        <h1 class="bz-part-2-block-1-text-h1">线上解决方案</h1>
                        <p>达人手把手指导，让整理房间如有神助</p>
                    </div>
                    <div class="row">
                        <div class="bz-part-2 col-md-4">
                            <a href="#">
                                <img src="http://ww3.sinaimg.cn/large/65e4f1e6jw1f9tx2nkwycj20hs08cgmb.jpg" style="width:100%">
                                <div class="quan-1">
                                    <h3>发出需求</h3>
                                </a>
                                <p>发起定制，与达人确定需求。</p>
                            </div>

                        </div>

                        <div class="bz-part-2 col-md-4">
                            <a href="#">
                                <img src="http://ww3.sinaimg.cn/large/65e4f1e6jw1f9tx2nijm7j20hs08caam.jpg" style="width:100%">
                                <div class="quan-1">
                                    <h3>达人接单</h3>
                                </a>
                                <p>达人给出解决方案，用户购置物品，达人指导整理。</p>
                            </div>

                        </div>

                        <div class="bz-part-2 col-md-4">
                            <a href="#">
                                <img src="http://ww4.sinaimg.cn/large/65e4f1e6jw1f9tx2ngeycj20hs08cmy4.jpg" style="width:100%">
                                <div class="quan-1">
                                    <h3>焕然一新</h3>
                                </a>
                                <p>房间焕然一新，发朋友圈炫耀。</p>
                            </div>
                            <br>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>
                <!-- body第2部分第3分支 直接发起任务，暂时不做-->
                <!-- <div class="bz-part-2-block-3">

            </div>  -->
            </div>
        </div>
        <!-- body第2部分 结束-->

        <!-- body第3部分 开始-->
        <div class="bz-part-3">
            <div class="container">

                <div class="bz-part-3-1">
                    <div class="bz-part-3-block-1-text">
                        <h1 class="bz-part-3-block-1-text-h1">达人优选作品</h1>
                        <br>
                        <p>以下，是让你跪下的作品</p>
                    </div>
                    <div class="row">
                        <div class="bz-part-3-1">
                            <a href="#">
                                <img src="http://ww1.sinaimg.cn/large/65e4f1e6jw1f9txiract9j20l406c0tk.jpg" style="width:100%" class="img-thumbnail"></a>
                            <br><br>
                            <div class="quan-1">
                                <div class="bz-part-3-1-1 col-md-3">
                                    <a href="#">
                                        <img src="http://ww2.sinaimg.cn/large/65e4f1e6jw1f9txt0oy2aj205k05kt8n.jpg" style="width:100px" class="img-circle"></a>
                                </div>
                                <div class="bz-part-3-1-2 col-md-3">
                                    <h3>我叫达人AAA</h3>
                                </div>
                                <div class="bz-part-3-1-3 col-md-3">
                                    <h3>我的这个作品叫做作品a</h3>
                                </div>
                                <div class="bz-part-3-1-4 col-md-3">
                                    <p>我有很多话要关于以上的作品A要说，我有很多话要关于以上的作品A要说，我有很多话要关于以上的作品A要说，我有很多话要关于以 上的作品A要说，我有很多话要关于以上的作品A要说，</p>
                                <br></div>
                            </div>
                        </div>

                        <div class="bz-part-3-2">
                            <a href="#">
                                <img src="http://ww3.sinaimg.cn/large/65e4f1e6jw1f9txir9ia8j20l4062jsn.jpg" style="width:100%" class="img-thumbnail"></a>
                            <br><br>

                            <div class="quan-2">
                                <div class="bz-part-3-2-1 col-md-3">
                                    <a href="#">
                                        <img src="http://ww4.sinaimg.cn/large/65e4f1e6jw1f9txt0mpcaj205k05k74j.jpg" style="width:100px" class="img-circle"></a>
                                </div>
                                <div class="bz-part-3-2-2 col-md-3">
                                    <h3>我叫达人AAA</h3>
                                </div>
                                <div class="bz-part-3-2-3 col-md-3">
                                    <h3>我的这个作品叫做作品a</h3>
                                </div>
                                <div class="bz-part-3-2-4 col-md-3">
                                    <p>我有很多话要关于以上的作品A要说，我有很多话要关于以上的作品A要说，我有很多话要关于以上的作品A要说，我有很多话要关于以 上的作品A要说，我有很多话要关于以上的作品A要说，</p>
                                  <br></div>
                            </div>
                        </div>
                        <div class="bz-part-3-3">
                            <a href="#">
                                <img src="http://ww3.sinaimg.cn/large/65e4f1e6jw1f9txir5lt2j20l40623zn.jpg" style="width:100%" class="img-thumbnail"></a>
                        <br><br>

                            <div class="quan-3">
                                <div class="bz-part-3-3-1 col-md-3">
                                    <a href="#">
                                        <img src="http://ww2.sinaimg.cn/large/65e4f1e6jw1f9txt0hdcpj205k05kq2x.jpg" style="width:100px" class="img-circle"></a>
                                </div>
                                <div class="bz-part-3-3-2 col-md-3">
                                    <h3>我叫达人AAA</h3>
                                </div>
                                <div class="bz-part-3-3-3 col-md-3">
                                    <h3>我的这个作品叫做作品a</h3>
                                </div>

                                <div class="bz-part-3-3-4 col-md-3">
                                    <p>我有很多话要关于以上的作品A要说，我有很多话要关于以上的作品A要说，我有很多话要关于以上的作品A要说，我有很多话要关于以 上的作品A要说，我有很多话要关于以上的作品A要说，</p>
                                  <br></div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>

        </div>
        <!-- body第3部分 结束-->

        <!-- body第4部分 开始-->

        <div class="bz-part-4">
            <div class="container">
                <div class="bz-part-2-block-1">
                    <div class="bz-part-2-block-1-text">
                        <h1 class="bz-part-2-block-1-text-h1">合作伙伴</h1>
                        <p>各大家居品牌，密切交流合作</p>  <br>
                    </div>
                    <div class="row">
                        <div class="bz-part-4 col-md-3">
                            <a href="#">
                                <img src="http://ww2.sinaimg.cn/large/65e4f1e6jw1f9ty9i9bn3j20go09tmxn.jpg" style="width:200px" >

                            </div>

                            <div class="bz-part-4 col-md-3">
                                <a href="#">
                                    <img src="http://ww2.sinaimg.cn/large/65e4f1e6jw1f9u2k9h07xj207h04ywf3.jpg" style="width:200px">

                                </div>

                                <div class="bz-part-4 col-md-3">
                                    <a href="#">
                                        <img src="http://ww4.sinaimg.cn/large/65e4f1e6jw1f9ty9i453vg20f108lq3d.gif" style="width:250px">

                                    </div>
                                    <div class="bz-part-4 col-md-3">
                                        <a href="#">
                                            <img src="http://ww3.sinaimg.cn/large/65e4f1e6jw1f9u58kbfy5j20f404c3yw.jpg" style="width:300px">

                                        </div>
                                    </div>
                                </div>

                                <!-- body第4部分 结束-->

                                <!-- body第5部分 开始-->
<br><br><br>
                                <div class="bz-part-5">
                                    <div class="container-fluid">
                                        <center>
                                            <a class="btn btn-info btn-lg" href="#">立即注册使用</a >
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </center>
                                    </div>
                                </div>
                            </body>
                            <!-- body第5部分 结束-->

                            <!-- foot部分 开始 -->
                            <!-- <footer id="bz-footer-content" class="site-footer col-md-12 col-md-offset-0">
        <div class="container-fluid">
            <div class="def-footer">
                <div class="help-link">
                    <ul class="list-inline">
                        <li>
                            <a href="/about_us">关于我们</a>
                        </li>
                        <li>
                            <a href="/contact_us">联系信息</a>
                        </li>
                        <li>
                            <a href="http://qq.com/" target="_blank">特别推荐</a>
                        </li>

                    </ul>
                </div>
                <div class="copyright-info">
                    <span>©2016 包整平台, Inc. All Rights Reserved</span>
                </div>
                <div class="bz-logo">
                    <a href="#">
                        <img src="http://ww2.sinaimg.cn/large/65e4f1e6jw1f9tpq71wkwj208o089jrq.jpg" style="width: 70px" "height: 70px">
                    </a>
                </div>
            </div>
        </div>
    </footer> -->
                            <!-- foot部分 结束 -->

                        </html>
