<!DOCTYPE html>

<html>
    <body>

      <header>
              <div class="container">
                  <div class="intro-text">
                      <div class="intro-heading">房间赏心悦目，空间感大一倍</div>
                      <div class="intro-lead-in">
                      <br>订制个性化收纳方案
                      <br>听达人分享整理技巧
                      <br>房间干净，心情清爽
                      <br>下次搬家，说走就走
                      </div>
                        <%= link_to("立即注册，赠送达人整理手册", new_user_registration_path, class:"page-scroll btn btn-xl") %>
                      </a>
                  </div>
              </div>
          </header>



          <section id="services">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 text-center">
                          <h2 class="section-heading">线上解决方案</h2>
                          <h3 class="section-subheading text-muted">达人手把手指导，让整理房间如有神助</h3>
                      </div>
                  </div>
                  <div class="row text-center">
                      <div class="col-md-4">
                          <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                          </span>
                          <h4 class="service-heading">发出需求</h4>
                          <p class="text-muted">发起定制，与达人确定需求。</p>
                      </div>
                      <div class="col-md-4">
                          <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                          </span>
                          <h4 class="service-heading">达人接单</h4>
                          <p class="text-muted">达人给出解决方案，用户购置物品，<br>达人指导整理。</p>
                      </div>
                      <div class="col-md-4">
                          <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                          </span>
                          <h4 class="service-heading">焕然一新</h4>
                          <p class="text-muted">房间焕然一新，分享至朋友圈。</p>
                      </div>
                  </div>
              </div>
          </section>

        <!-- body第2部分 开始-->

        <div class="bz-part-2">
            <div class="container-fluid">
                <div class="bz-part-2-block-1">
                    <div class="bz-part-2-block-1-text">
                        <h1 class="bz-part-2-block-1-text-h1">线上解决方案</h1>
                        <p>达人手把手指导，让整理房间如有神助</p>
                    </div>
                    <div class="bz-part-2-row">
                      <center>
                        <div class="bz-part-2-step-1 col-md-4">
                            <div class="bz-part-2-step-1-pic" >
                              <img src="http://ww3.sinaimg.cn/large/65e4f1e6jw1f9tx2nkwycj20hs08cgmb.jpg" style="width:100%">
                            </div>
                                <div class="bz-part-2-step-1-text">
                                    <a href="#">
                                    <h3>发出需求</h3>
                                    </a>
                                  <p>发起定制，与达人确定需求。</p>
                                </div>
                        </div>

                        <div class="bz-part-2-step-2 col-md-4">
                            <div class="bz-part-2-step-2-pic">
                              <img src="http://ww3.sinaimg.cn/large/65e4f1e6jw1f9tx2nijm7j20hs08caam.jpg" style="width:100%">
                            </div>
                                <div class="bz-part-2-step-2-text">
                                    <a href="#">
                                    <h3>达人接单</h3>
                                    </a>
                                  <p>达人给出解决方案，用户购置物品，<br>达人指导整理。</p>
                                </div>
                        </div>

                        <div class="bz-part-2-step-3 col-md-4">
                            <div class="bz-part-2-step-3-pic">
                              <img src="http://ww4.sinaimg.cn/large/65e4f1e6jw1f9tx2ngeycj20hs08cmy4.jpg" style="width:100%">
                            </div>
                                <div class="bz-part-2-step-3-text">
                                    <a href="#">
                                    <h3>焕然一新</h3>
                                    </a>
                                  <p>房间焕然一新，分享至朋友圈。</p>
                                </div>
                        </div>
                            <br>
                            <br>
                            <br>
                          </center>
                        </div>
                    </div>
                </div>
                <!-- body第2部分第2分支 直接发起任务，暂时不做-->
                <!-- <div class="bz-part-2-block-2">
                </div>  -->
        </div>
        <!-- body第2部分 结束-->

        <!-- Portfolio Grid Section -->
        <section id="portfolio" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">达人优选作品</h2>
                        <h3 class="section-subheading text-muted">点击你喜欢的作品，和达人发起会话！</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Muji风格</h4>
                            <p class="text-muted">@宏宏</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Startup Framework</h4>
                            <p class="text-muted">Website Design</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Treehouse</h4>
                            <p class="text-muted">Website Design</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/golden.png" class="img-responsive" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Golden</h4>
                            <p class="text-muted">Website Design</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/escape.png" class="img-responsive" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Escape</h4>
                            <p class="text-muted">Website Design</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Dreams</h4>
                            <p class="text-muted">Website Design</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- About Section -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">线上服务流程</h2>
                        <h3 class="section-subheading text-muted">达人手把手指导，让整理房间如有神助！<br>
                          <br>
                        简单便捷的服务流程，帮您轻松搞定室内杂务。</h3>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3 class="subheading">发起整理需求</h3>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">上传当前房间照片和理想的照片，简单说明自己的整理需求。</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3 class="subheading">达人抢单</h3>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">达人抢单后，可以和用户发起对话，了解对方需求。最终，由用户选定一名达人进行合作并付款。</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="./img/about/3.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h3 class="subheading">线上指导</h3>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">达人给出解决方案，用户购置相关物品，由达人在线指导整理。</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3 class="subheading">评价达人</h3>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">服务结束后，用户评价达人。</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <h4>记得
                                        <br>发朋友圈
                                        <br>炫耀哦</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>



        <!-- Partnership Aside -->
        <aside class="clients">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                            <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                            <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                            <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                            <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </aside>

        <!-- Call to Action Section -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Call to action</h2>
                        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                            <div class="row">
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <button type="submit" class="btn btn-xl">
                                      <%= link_to("立即注册！", new_user_registration_path, class:"page-scroll btn btn-xl") %>
                                    </button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
