
<div class="clearfix">

  <%= link_to("发起对话", account_conversation_path(@designer.token ) , :class => "btn btn-danger pull-right") %> 
  <h2> <%= @designer.nickname %> </h2>


</div>
<hr>

<h2> 过去作品列表 </h2>

TODO: put redmine here
