<table class="table table-boldered">
  <% @requests.each do |request| %>
  <tr>

    <td>
      <%= link_to(request.title, request_path(request)) %>
    </td>
    <td>
      <%= link_to("Edit", edit_request_path(request)) %>
      <%= link_to("Destroy", request_path(request), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= request.created_at %>
    </td>
  </tr>
  <% end %>
</table>
