<h1> <%= @request.title %> </h1>

<p>
  <%= simple_format(@request.description) %>
  <%# if current_request.BeforePicture.present? %>
    <%#= image_tag(request.BeforePicture.url) %>
    <%# end %>

</p>
