<h1> <%= @request.title %> </h1>

<p>
  <%= simple_format(@request.description) %>
  <% if @request.BeforePicture.present? %>
    <%= image_tag(@request.BeforePicture.url) %>
  <% end %>

  <% if @request.DreamPicture.present? %>
    <%= image_tag(@request.DreamPicture.url) %>
  <% end %>
</p>
