<h1> <%= @request.title %> </h1>

<p>

  任务描述
  <%= simple_format(@request.description) %>
</p>


<p>
  现在的房间
  <br>
  <% if @request.BeforePicture.present? %>
    <%= image_tag(@request.BeforePicture.url) %>
  <% end %>
</p>


<p>
  期待的样子
    <br>
  <% if @request.DreamPicture.present? %>
    <%= image_tag(@request.DreamPicture.url) %>
  <% end %>
</p>
