<h3>我的对话</h3>
<hr>
<ul>
  <% @conversations.each do |conversation| %>
    <li class="list-group-item clearfix">
    <% whos = conversation.receipts.collect(&:receiver).uniq %>
      <% if whos.first == current_user %>
        <% who = whos.last %>
      <% else %>
        <% who = whos.first %>
      <% end %>


      <%= who.nickname %> - - <%= conversation.created_at.to_s(:short) %>
      <br>
      <%= conversation.last_message.body %>

      <%= link_to("查看", account_conversation_path(conversation), :class => "pull-right") %>
    </li>
  <% end %>
</ul>

<hr>
