// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.bz-part-1{
    height: 550px;
}

.bz-part-1-bg {
  height: 500px;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
}

#bz-part-1-bg-id{
  background-image: url(http://ww3.sinaimg.cn/large/65e4f1e6jw1f9tumre3yoj21jk0m8q99.jpg);
}

.bz-part-1-bg-gray{
height: 290px;
width: 70%;
margin-top: 40px;
margin-left: 120px;
position: absolute;
background-position: center center;

z-index:1;
opacity:0.5;
}



#bz-part-1-bg-gray-id
{
  background-image: url(http://ww1.sinaimg.cn/large/65e4f1e6jw1f9tvnx628wj20f208q742.jpg);
}


.bz-part-1-text-1{
  margin-top: 50px;
  z-index:2;
}

.title-text{
  text-align: center;
  z-index:2;
}

.headfontsize h1{
  font-size: 40pt;
  color: #fb5e37;
}

.headfontsize p{
  font-size: 13pt;
  color: #fcc4b6;
}

.btn-bz-user-sign-up{
margin-top: 50px;
line-height: 50px;
}

.bz-part-2-block-1{
  text-align: center;
}

.bz-part-2-row{
  text-align: center;
}

.bz-part-2-step-1-pic{
  width: 100%
}

.bz-part-2-step-2-pic{
  width: 100%
}

.bz-part-2-step-3-pic{
  width: 100%
}


.bz-part-3-block-1-text{
  text-align: center;
    margin-top: 70px;
}

.bz-part-4-block-1-text{
  text-align: center;
}

.bz-part-5{
    text-align: center;
}


.bz-part-5-text-h1{
  text-align: center;
}
.navbar-brand{
  background-position: -5px -5px;
}


.site-footer{
  padding-top: 20px;

}
