
<footer id="bz-footer-content" class="site-footer col-md-12 col-md-offset-0" style="margin-top: 100px;">
    <hr>
    <div class="container-fluid">
        <ul><div class="def-footer">
          <center>
          <ul>
            <div class="bz-part-foot col-md-4">
                <ul class="list-inline">
                  <br>
                    <li>
                        <a href="/about_us">关于我们</a>
                    </li>
                    <li>
                        <a href="/contact_us">联系信息</a>
                    </li>
                    <li>
                        <a href="http://qq.com/" target="_blank">特别推荐</a>
                    </li>

                </ul>
            </div>
         <div class="bz-part-foot col-md-4">

            <div class="copyright-info" >
                <span>©2016 包整平台, Inc. All Rights Reserved</span>
                <p class="text-center">Design by
                    <i class="fa fa-paper-plane" style="color: grey;"></i>
                    <a href="https://github.com/ZengGIFT" target=_new> HomerZENG </a>
                    ·
                    <!-- <i class="fa fa-diamond" style="color: red;"></i> -->
                    <a href="https://github.com/valery0510" target=_new> Valery0510 </a>
                    ·
                    <a href="https://github.com/yzha3917" target=_new> 四无鸡蛋 </a>
                    ·
                    <a href="https://github.com/szwang147" target=_new> Vand </a>
                </p>
            </div>
          </div>
          <div class="bz-part-foot col-md-4">
            <div class="bz-logo">
                <a href="/">
                    <img src="http://ww2.sinaimg.cn/large/65e4f1e6jw1f9tpq71wkwj208o089jrq.jpg" style="width:60px" "height: 60px" >
                </a>
            </div>
          </div>
          </center>
        </div>
    </div>





<!-- <footer class="container" style="margin-top: 100px;"> -->


<!-- <footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 包整
        <br>Design by
        <a href="https://github.com/ZengGIFT" target=_new> HomerZENG </a>
        ·
        <a href="https://github.com/valery0510" target=_new> valery0510 </a>
        ·
        <a href="https://github.com/yzha3917" target=_new> 四无鸡蛋 </a>
        ·
        <a href="https://github.com/szwang147" target=_new> vand </a>
    </p>
</footer> -->
