    <hr>
<footer id="bz-footer-content" class="navbar-fixed-bottom site-footer col-md-12 col-md-offset-0" style=" background-color: #fff9e5; margin-top: 100px;">
    <div class="container-fluid">
        <div class="def-footer">
            <center>
                <div class="bz-part-foot col-md-4"></div>
                <div class="bz-part-foot col-md-4">
                    <div class="copyright-info">
                        <span>©2016 包整平台, Inc. All Rights Reserved</span>
                    </div>
                    <div class="bz-part-foot col-md-4"></div>

                </center>
            </div>
        </div>
</footer>
