<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 Baozheng
        <br>Design by
        <a href="https://github.com/ZengGIFT" target=_new> HomerZENG </a>
        ·
        <a href="https://github.com/valery0510" target=_new> valery0510 </a>
        ·
        <a href="https://github.com/yzha3917" target=_new> 四无鸡蛋 </a>
        ·
        <a href="https://github.com/szwang147" target=_new> vand </a>
    </p>
</footer>
